<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Portal Deportivo</title>
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>
<body>
	<div id="contenedor">
     <header >
        <h1>Liga de Fútbol Profesional</h1>
     </header>
   
   	 <nav >
  	    <ul id="menu">
  	       <li><a href="Index.html">Home</a></li>
  	       <li><a href="fixture.html">Fixture y Partidos</a></li>
  	       <li><a href="equipos.html">Equipos</a></li>
  	    </ul>			  
     </nav>
     <br>
     <section id="contenido">
        <div id="articulo">
          <img alt="" src="img/argentinos.png">
    	  <p>
    	  		La Asociación Atlética Argentinos Juniors, popularmente conocida como Argentinos Juniors o simplemente Argentinos, 
    	  		es una centenaria institución polideportiva fundada el 15 de agosto de 1904 en el barrio de La Paternal, Ciudad Autónoma de Buenos Aires, Argentina.
    	  		 Participa en la Superliga Argentina.Su disciplina más destacada es el fútbol, en el que es reconocido por la FIFA como uno de los 11 clubes clásicos de la Argentina,2 
    	  		 siendo reconocido ante todo por ser un club formador de numerosos futbolistas de proyección internacional como Diego Armando Maradona, Fernando Redondo, Juan Román Riquelme, Claudio Borghi, Esteban Cambiasso, Sergio Batista,
    	  		 Juan Pablo Sorin, Fernando Cáceres, Leonel Gancedo,
    	  		 Diego Placente, Nicolás Pareja, Néstor Ortigoza, Lucas Biglia, Lucas Barrios, Federico Insúa, Leonardo Pisculichi, Andrés D'Alessandro y Fabricio Coloccini (entre otros).
    	  		 Por tal motivo, es reconocido tanto por la AFA como por la prensa especializada como el Semillero del Mundo.
    	  		 Posee 3 predios propios en la ciudad de Buenos Aires que suman 15 hectáreas, para su gran cantidad de actividades sociales, culturales, recreativas y deportivas: El Complejo Polideportivo "Las Malvinas" en el barrio de La Paternal, 
    	  		 el Centro de Entrenamiento y Formación para el Fútbol Amateur (CEFFA) en Bajo Flores y su estadio de fútbol, el "Diego Armando Maradona", ubicado en La Paternal.4
    	  </p>
      	<br>
        	<img alt="" src="img/gimnasia.jpg">
        	<p>
        		El Club de Gimnasia y Esgrima La Plata, conocido simplemente como «Gimnasia» o por sus acrónimos «GELP», es una institución deportiva ubicada en la ciudad de La Plata, Buenos Aires, Argentina, fundada el 3 de junio de 1887.
        		 Su principal actividad es el fútbol masculino, disciplina en la cual se desempeña en la Primera División de Argentina.Su estadio es el Juan Carmelo Zerillo, popularmente conocido como «El Bosque» está ubicado dentro del parque público 
        		 Paseo del Bosque, al noreste de la ciudad de La Plata, capital de la provincia de Buenos Aires, Argentina, sobre la avenida 60 y su intersección con la calle 118. A lo largo de sus más de 120 años de historia fueron 55 los presidentes que tuvieron la responsabilidad de conducir los 
        		 destinos institucionales del club. Muchos de ellos ejecutaron acciones para que la entidad fuera creciendo con el paso de los años. Algunos quedaron más en la memoria de los hinchas del club, por los logros obtenidos, o por haber realizado obras destacadas.
				 
        	</p>
        </div>
    	  
     </section>
     
     <aside id="aside">
     	  <h4>Auspiciantes</h4>
     	  <br>
     	  <img alt="" src="img/adidas.jpg">
     	  <img alt="" src="img/coca-cola.png">
     	  <img alt="" src="img/powerade.jpg">
     	  
     </aside>
     
   
     <footer >
     	  <p>Avda. Gral. San Martín N°780 San Salvador de Jujuy - Tel.:3884149181</p>
     	  		
     	  <img id="imgFooter" alt="" src="img/facebook.png">
     	  <img id="imgFooter" alt="" src="img/instagram.png">
     	  <img id="imgFooter" alt="" src="img/whatsapp.png">	
     </footer>
  
  </div>

</body>
</html>